pkgbase = ckbcomp
	pkgdesc = Compile a XKB keyboard description to a keymap suitable for loadkeys or kbdcontrol
	pkgver = 1.234
	pkgrel = 1
	url = http://anonscm.debian.org/cgit/d-i/console-setup.git/
	arch = any
	license = GPL2
	depends = perl
	conflicts = ckbcomp-bin
	source = http://ftp.debian.org/debian/pool/main/c/console-setup/console-setup_1.234.tar.xz
	sha512sums = 902da702a02b5b088d2f0838611d6ca90ff164237c74755071bc456a13e6cf542d72cf0ebd2704c265b509cd9479a2216a366dabfdb832ebecc79970eadf67d6

pkgname = ckbcomp
